/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Base reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Header */
header {
  background-color: #be3144;
  color: #ffffff;
  padding: 1rem 1rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

#logo {
    padding-left: 7rem;
    font-size: 40px;
  }

  /* Navbar styles with dropdown element */
  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 255, 0);
    color: #ffffff;
    padding-right: 3rem;
    font-size: 25px;
    font-weight: bold; 
    
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
    justify-content: space-between;
    }

  .nav-list li {
    margin-right: 50px;
    
}

.nav-list a:hover {
  background: rgb(235, 145, 160);
}

  /* removing the bullet points */
  ul {
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
}

/* Main content */
main {
  /* Expand the main element to shift the footer downwards */
  flex: 1 0 auto;
  margin-top: 56px;
  margin-bottom: 170px;
  padding: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Styling the welcome-text-article */
  .welcome-text {
    font-family: 'Baskervville', serif;
    color: linen;
    background-color: rgb(20, 30, 40);
    padding-left: 25vh;
    padding-right: 25vh;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  
  .welcome-text h3 {
    padding-top: 30px;
    padding-bottom: 30px;
  } 

  #second-p {
    padding-top: 30px;
  }

  .welcome-video {
    display: flex;
    justify-content: center;
    padding: 60px;
  }

  .welcome-text-article {
  grid-column: 2 / 3;
  font-size: 1.4rem;
  letter-spacing: 0.6px;
  column-width: 25rem;
  text-align: justify;
  }

  .welcome-text-title {
    text-align: center;
    color: orangered;
    font-size: 3rem;
    padding-top: 25px;
  }
  
  .welcome-text-subtitle {
    font-size: 2rem;
    color: orangered;
    text-align: center;
    padding-bottom: 25px;
  }

  .first-paragraph::first-letter {
    font-size: 6rem;
    color: orangered;
    float: left;
    margin-right: 1rem;
  }

  .list-movies ul {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 3rem;
    margin-bottom: 3rem;
    font-size: 18px;
  }
  
  .list-movies h3 {
    text-align: center;
    color: orangered;
    font-size: 2.3rem;
    padding-top: 75px;
  }

  .list-movies-first-p {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 30px;
  }

  .lists {
    list-style-type: none;
    margin-top: 2rem;
    display: flex;
    flex-flow: center;
    padding-left: 25vh;
    padding-right: 25vh;
  }
  
  .lists li {
    margin-bottom: 1.5rem;
    
  }
  
  .list-title, .list-subtitle {
    color: orangered;
  }

/* Styling the actors photos */
#actors {
    font-family: 'Baskervville', serif;
    color: linen;
    background-color: rgb(20, 30, 40);
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 20px;
}

#actors h2 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    color: #be3144;
    padding-top: 20px;
    font-weight: bold;
}

.actors {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 75px;
  margin-left: 75px;
  margin-top: 25px;
  gap: 15px;


}
#actor1 {
  order: 1;
  width: 200px;
  height: 300px;
  background: url('../actors/Kim Sang Beom.webp') no-repeat top center / cover;
}
#actor2 {
  order: 2;
  width: 200px;
  height: 300px;
  background: url('../actors/Kim Yoo-Yung.webp') no-repeat top center / cover;
}
#actor3 {
  order: 3;
  width: 200px;
  height: 300px;
  background: url('../actors/Lee dong-wook.webp') no-repeat top center / cover; 
}
#actor4 {
  order: 4;
  width: 200px;
  height: 300px;
  background: url('../actors/Oh Yeon Seo.webp') no-repeat top center / cover;
}
#actor5 {
  order: 5;
  width: 200px;
  height: 300px;
  background: url('../actors/Seo In-guk.webp') no-repeat top center / cover;
}
#actor6 {
  order: 6;
  width: 200px;
  height: 300px;
  background: url('../actors/Seo Ye Ji.webp') no-repeat top center / cover;
}

#actors-names {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
}

#actors-names span {
  background: rgb(20, 30, 40);
}

/* Styling movies section */
#movies {
    font-family: 'Baskervville', serif;
    color: linen;
    background-color: rgb(20, 30, 40);
    margin-top: 0;
    padding-top: 30px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 30px;
    position: relative;
    
}

#movies-div-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

#movies-titles span {
  background: rgb(20, 30, 40);
}

#movie1 {
  width: 400px;
  height: 200px;
  background: url('../images/Alchemy of Souls.webp') no-repeat top center / cover;
}
#movie2 {
  width: 400px;
  height: 200px;
  background: url('../images/business-proposal.webp') no-repeat top center / cover;
}
#movie3 {
  width: 400px;
  height: 200px;
  background: url('../images/Korean Odyssea.webp') no-repeat top center / cover;
}
#movie4 {
  width: 400px;
  height: 200px;
  background: url('../images/mr-queen.webp') no-repeat top center / cover;
}
#movie5 {
  width: 400px;
  height: 200px;
  background: url('../images/tale-of-the-nine-tailed.webp') no-repeat top center / cover;
}
#movie6 {
  width: 400px;
  height: 200px;
  background: url('../images/the king eternal monarch.webp') no-repeat top center / cover;
}

/* Styling the last index section */
table {
  border-collapse: collapse;
  margin: 15px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

th, td {
  padding-right: 28px;
  padding-left: 28px;
  padding-top: 15px;
  padding-bottom: 0;
  text-align: center; 
}

/* Footer */
#footer-elements {
	text-align: center;
  padding: 1em;
  width: 100%;
  bottom: 0;
  right: 0;
	z-index: 1;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  position: fixed;
  background-color: rgb(223, 162, 223);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#footer-elements i {
  font-size: 140%;
  padding: 2%;
  color: #3a3a3a;
}

#footer-elements p>a {
  text-decoration: none;
  color: #3a3a3a;
}

#footer-elements a:hover {
  background: rgb(228, 181, 215);
}