/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Base reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Header */
header {
  background-color: #be3144;
  color: #ffffff;
  padding: 1rem 1rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

#logo {
    padding-left: 7rem;
    font-size: 40px;
  }

  /* Navbar styles with dropdown element */
  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 255, 0);
    color: #ffffff;
    padding-right: 3rem;
    font-size: 25px;
    font-weight: bold; 
    
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
    justify-content: space-between;
    }

  .nav-list li {
    margin-right: 50px;
    
}

.nav-list a:hover {
  background: rgb(235, 145, 160);
}

  /* removing the bullet points */
  ul {
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
}

/* Main content */
main {
  /* Expand the main element to shift the footer downwards */
  flex: 1 0 auto;
  margin-top: 56px;
  margin-bottom: 600px;
  padding: auto;
  position: relative;
  z-index: 99;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Enable horizontal scrolling when the content overflows the container horizontally */
.scroll-container {
  width: 1450px;
  height: 400px;
  overflow-x: auto;
  white-space: nowrap;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  gap: 15px;
}


/* Arrange items horizontally */
.scroll-item {
  display: inline-block;
  width: 200px;
  height: 100px;
  border: 1px solid #000;
  margin-right: 10px;
  text-align: center;
  flex-basis: 120px;
  align-self: center;
}

/* Adjust width to fit content */
.scroll-content {
  width: 2000px; 
}

/* ordering the actors photos */
#actor1 {
  order: 1;
  width: 200px;
  height: 300px;
  background: url('../actors/Lee dong-wook.webp') no-repeat top center / cover;
}
#actor2 {
  order: 2;
  width: 200px;
  height: 150px; 
  background-color: #a4be31;
}
#actor3 {
  order: 3;
  width: 200px;
  height: 150px; 
  background-color: #5731be;
}
#actor4 {
  order: 4;
  width: 200px;
  height: 150px;
  background-color: #be3177;
}
#actor5 {
  order: 5;
  width: 200px;
  height: 150px; 
}
#actor6 {
  order: 6; 
}
#actor7 {
  order: 7;
  width: 200px;
  height: 150px;
}
#actor8 {
  order: 8;
  width: 200px;
  height: 150px;
}
#actor9 {
  order: 9;
  width: 200px;
  height: 150px;
}
#actor10 {
  order: 10;
  width: 200px;
  height: 150px;
}
#actor11 {
  order: 11;
  width: 200px;
  height: 150px;
}
#actor12 {
  order: 12;
  width: 200px;
  height: 150px;
}

.hidden-element {
  text-decoration: none;
}

/* Footer */
#footer-elements {
	text-align: center;
  padding: 1em;
  width: 100%;
  bottom: 0;
  right: 0;
	z-index: 3;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  position: fixed;
  background-color: rgb(223, 162, 223);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#footer-elements i {
  font-size: 140%;
  padding: 2%;
  color: #3a3a3a;
}

#footer-elements p>a {
  text-decoration: none;
  color: #3a3a3a;
}

#footer-elements a:hover {
  background: rgb(228, 181, 215);
}